/* HeroSection.css */

.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #790ad3; /* Changed box-shadow to background-color */
    color: rgba(0, 0, 0, 0.584);
}
.youtube-video {
    position: sticky;
    width: 560px;
    height: 315px;
}

.hero-container > h1 {
    font-size: 100px;
    margin-top: 0; /* Removed negative margin */
    font-family: 'New Century Schoolbook', 'TeX Gyre Schola', serif;
}

.hero-container > p {
    margin-top: 8px;
    font-size: 32px;
    font-weight: 100;
    font-family: 'New Century Schoolbook', 'TeX Gyre Schola', serif;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
    }

    .hero-container > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none; /* Corrected spelling of none */
    }

    .btn {
        width: 100%;
    }
    .flex {
        /* Flexbox styles */
        display: flex;
        flex-direction: column; /* Arrange items vertically */
        justify-content: center; /* Align items vertically in the center */
        align-items: center; /* Align items horizontally in the center */
    }
}
